@media (max-width: 424px) {
    .botones button {
        width: 64px;
        height: 64px;
        font-size: 32px;
    }
}
@media (min-width: 425px) {
    .botones button {
        width: 96px;
        height: 96px;
        font-size: 64px;
    }
}
@media (min-width: 1024px) {
    .botones button {
        width: 128px;
        height: 128px;
        font-size: 90px;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    min-height: 100vh;
    background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
    font-family: "Switzer", sans-serif;
    background-size: cover;
}
::selection {
    color: #ff3f34;
}
.play-again {
    padding: 0.5em 1.3em;
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #7066e0;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
}
.play-again:hover {
    background-color: rgb(96, 88, 192);
}
.play-again:focus {
    box-shadow: 0 0 10px 3px #00000088;
}
.container {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin: 1.5em;
}
.title {
    text-align: center;
    font-size: 36px;
    color: #1e272e;
}
.botones {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1px;
    background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
}
.botones button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 1px;
    border: 1px solid #000;
    transition: background-color 180ms linear;
}
.botones button:hover {
    background-color: #666666b2;
}
.disabled {
    pointer-events: none;
    background-color: rgba(31, 31, 31, 0.308);
    color: white;
}
.hidden {
    display: none;
}
.estadisticas {
    background-color: #eee;
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    place-content: center;
    padding: 0 1em;
    flex-wrap: wrap;
    width: 350px;
}
.estadisticas h2 {
    display: flex;
    align-items: center;
    gap: 10px;
}
#tiempo {
    display: flex;
    flex-wrap: wrap;
}
.estadisticas span {
    font-weight: lighter;
}
#jugarDeNuevo {
    font-weight: bold;
    padding: 0.5em 1.3em;
    border: 1px solid gray;
    cursor: pointer;
    border-radius: 5px;
    background-color: #e1b12c;
    color: white;
    width: 200px;
    height: fit-content;
    transition: background-color 300ms ease;
    position: absolute;
    bottom: -4.5em;
}
#jugarDeNuevo:hover {
    background-color: #c59b26;
}
img {
    width: 80%;
}
footer {
    font-family: "PF Easta Seven Condensed", sans-serif;
    color: #ff3f34;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    font-weight: bold;
    font-size: 20px;
}
footer a {
    color: purple;
    font-family: "Spooky Pixels", sans-serif;
}
